.header {
	position: relative;
	/* fallback for old browsers */
	/*background: #5a3f37;
	background: -webkit-linear-gradient(to right,#3fb54a,  #83c33f);
	background: linear-gradient(to right,#3fb54a,  #83c33f);*/
	background-image: url("../images/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.header-wave {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.hw-first{
	height: 200px;
}

.hw-second{
	height: 160px;
}

.hw-third{
	height: 120px;
}

.text-white {
	color: 'white';
}

.box-shadow-img{
	border-radius: 100%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.w-60 {
	width: 65%;
}

.w-40 {
	width: 35%;
}

.container-reserve {
	background-color: #fff;
	border-radius: 50px;
}

.carousel-reserve {
	border-top-left-radius: 50px;
}

.description-reserve {
	border-bottom-left-radius: 50px;
}

.form-reserve {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
